<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>

</head>
<body>

<section th:class="banner">
    <div class="container d-flex justify-content-center align-items-center h-100 w-100">
        <div class="card p-5">
            <h1 style="color: #2b608e;"> Forgot Password</h1>
            <form th:action="@{/sentOtp}" method="post">
                <div class="form-outline  mt-1">
                    <input type="email" name="email" id="form12" class="form-control" />
                    <label class="form-label" for="form12">Email address</label>
                </div>
                <div >
                    <button type="submit" class="btn  mt-2 btn-warning">Send OTP</button>
                </div>
            </form>
        </div>
    </div>

</section>
</body>
</html>