<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})"                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          >
<head>

</head>
<body>

<section  class="banner  d-flex  justify-content-center align-items-center">
    <div class="text-center">
        <h1>smart contact manager</h1>
        <a th:href="@{/signup}" class="btn  text-white bg-primary " >Get Started</a>
        <a th:href="@{/signin}"  class="btn text-white bg-primary">Login</a>
    </div>
</section>


</body>
</html>